<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>dojos with a form</title>
    </head>
    <body>
        <h1>this page has a contact form!</h1>
        <form>
            <input type="text" name="first_name" value="first name"</input>
            <input type="submit" action="" value="click here to submit!"</input>
        </form>

        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/ninjas">Ninjas</a></li>
        </ul>
    </body>
</html>
