<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <th>name></th>
                <th>continent</th>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result['name'] }}</td>
                    <td>{{ result['continent'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
